<style>
    @import url("../global.css");

    table {
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid;
    }
</style>

<template id="row">
    <tr>
        <td>{USERNAME}</td>
        <td>{FIRSTNAME}</td>
        <td>{LASTNAME}</td>
        <td>{EMAIL}</td>
    </tr>
</template>

<h2>Users</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>