<style>
    .layout {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .layout-content {
        display: flex;
        flex: 1 0 auto;
    }
    .layout-main {
        padding: 1rem 3rem;
        flex-grow: 1;
        max-width: 976px;
    }
</style>
<div class="layout">
    <component-header></component-header>
    <div class="layout-content">
        <component-nav open="true"></component-nav>
        <main class="layout-main"></main>
    </div>
    <component-footer style="background-color: #e7e6e4; min-height: 40px;">Footer</component-footer>
</div>